.main_content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: flex-start;
    align-items: center;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    margin-top: 20px;
}

.tab_selector {
    display: flex;
    gap: 20px;
    border-bottom: 1px solid var(--gray-med);
    justify-content: flex-start;
    width: 100%;
    padding: 5px;
}

.tab {
    color: var(--gray-dark);
    font-size: 20px;
    cursor: pointer;
}

.tab:hover {
    color: var(--gray-med);
}

.tab_selected {
    color: var(--gray-light);
    font-size: 20px;
}

.add_inventory {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin-top: 10px;
    width: 100%;
    margin-bottom: 20px;
}

.add_inventory_header {
    color: var(--gray-light);
    font-size: 12px;
}

.add_inventory>input[type='text'],
.add_inventory>input[type='number'] {
    padding: 5px;
    border: 1px solid var(--gray-med);
    border-radius: 5px;
    height: 24px;
    margin: 0;
    max-width: 200px;
    width: 90%;
    background-color: var(--gray-dark);
    font-size: 12px;
    color: white;
    border: none;
}

.add_inventory>button {
    font-size: 12px;
    padding: 12px;
    height: 10px;
    width: 50%;
    margin: 0;
}

.status_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.not_offered,
.offered,
.rejected,
.accepted {
    border: 2px solid;
    border-radius: 40px;
    padding: 12px;
    color: white;
    width: 140px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.not_offered {
    background-color: var(--orange-dark);
}

.offered {
    background-color: var(--yellow);
}

.rejected {
    background-color: var(--red);
}

.accepted {
    background-color: var(--green);
}

.offer_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.offer {
    padding: 2px;
}

.response_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

@keyframes highlight {
    0% {
        background: var(--gray-dark);
    }

    100% {
        background: none;
    }
}

.highlight {
    animation: highlight 1s;
}